<a href="https://colab.research.google.com/github/chloehmiri/Data-Mining-Projects/blob/main/Vectors.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Vectors are lists of elements of the same type. They are an extremely
important data structure in R.

Vectors are created using the `c` function, which stands for “combine”.

In [ ]:
x <- c(3,7.4,-3, 3.2) # now we have four different numeric elements
x

[1]  3.0  7.4 -3.0  3.2

In [ ]:
class(x) # functions are always going to look like: name()
# how many elements there are in the vector
length(x)

[1] "numeric"

[1] 4

This vector has class ‘numeric’ and has 4 elements. We can see by using
the `length` function:

Lets take a look at the ‘structure’ of x using the `str` function:

In [ ]:
str(x) # this is looking at the structure of something

 num [1:4] 3 7.4 -3 3.2

The following vector has class ‘character’ and its length is 3:

In [ ]:
y<-c("Goodbye", "Hello", "Goodnight")

## add more strings
y<-c("Goodbye", "Hello", "Goodnight", "han", "ma322")
# in programming language if you want to add text/character/strings into a
# vector or variables, we have to use "" quotation marks
y
class(y)
length(y)

[1] "Goodbye"   "Hello"     "Goodnight" "han"       "ma322"

[1] "character"

[1] 5

In [ ]:
# everybody create a VECTOR of your own
# then call on that VECTOR
# then tell me what class and length of that VECTOR

The following vector has class ‘logical’ and its length is 5:

In [ ]:
# on top of numeric and character vectors, we can make logical vectors
# binary variable: two classes/level
# True/False Male/Female

l<-c(TRUE, FALSE, TRUE, FALSE, FALSE) #booleans
l
class(l)
length(l)

[1]  TRUE FALSE  TRUE FALSE FALSE

[1] "logical"

[1] 5

Notice each vector has to have the same type for each of its elements.

1.  `x` is a vector of class ‘numeric’
2.  `y` is a vector of class ‘character’
3.  `z` is a vector of class ‘logical’

What would happen if we try to combine components that had different
classes?

In [ ]:
a<-(TRUE, 4, 5, "hello")
a

ERROR: ignored

At first it looks like this worked, but notice how each element is a
‘character’ now:

What happened? Here we tried to create a vector whose elements were
different types.

When we did that R went ahead and did it, but it made each element a
string.

Some of the big advantages of vectors has to do with math we can do with
them. It turns out that vectors can simplify a lot of the calculations
you might want to do in data science.

Lets try to add two vectors:

In [ ]:
x<-c(2,4,3,1)
y<-c(3,6,1,9)
x+y

[1]  5 10  4 10

What about multiplying them together:

In [ ]:
w<-c(2,4,3,1)
z<-c(3,6,1,9)
w*z

[1]  6 24  3  9

Or multiplying a vector by a number:

In [ ]:
a<-c(1,3,5,7)
5*a

[1]  5 15 25 35

Suppose we want to access the elements in a vector. You can access the
elements in a vector by using the “subscript” notation. This means you
refer to the different elements using an index:

In [ ]:
b<-c(4,3,-1,2)
b[1]
b[2]
b[3]
b[4]

[1] 4

[1] 3

[1] -1

[1] 2

**[ ] = indexing**

ex. b[1] = first variable in the 'b' **combination**
ex. b[-1] = except for the first variable in the 'b' **combination**

The first index is 1 and the last index is 4 for this vector. In some
programming languages the first element in a vector would be refered to
with an index of 0, not 1.

What happens if we use a negative index?

In [ ]:
b[-1]

[1]  3 -1  2

`b[-1]` removes the first element of the vector `b[-2]` removes the
second element of the vector

In [ ]:
b[6]

[1] NA

This returns `NA`, which means “not applicable”. `NA` is a type that
usually means “missing data” for some reason. Often times in data
science you are collecting data but some of it is deleted or missing.
For that you would use `NA`.

In [ ]:
d<-c(3,5,NA)
d
str(d)

[1]  3  5 NA

 num [1:3] 3 5 NA

Vectors are convenient for applying functions that depend on a list of
numbers. For examples the `mean` and `median` of a set of numbers.

In [ ]:
v<-c(65, 77, 89, 54, 78, 82)
mean(v)
median(v)

[1] 74.16667

[1] 77.5

Other examples are the `min` and `max` of a set of numbers:

In [ ]:
min(v)
max(v)

[1] 54

[1] 89

Some functions will apply the function to each element in the vector
individually. For example `sqrt`:

In [ ]:
w<- c(9,16,25)
z<-sqrt(w)
z

[1] 3 4 5